@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Muli");

/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  
}
#app{
  background: #c69d2d;
}
html{
  background: #c69d2d;
}
.wrapper {
  display: flex;
  position: relative;
}
.header-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background: #121e0d;
  padding: 20px;
  width: 100%;
  height: 70px;
}
.left-header h2 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
}
.sidebar {
  background: #344140;
  padding: 30px 0;
  position: fixed;
  width: 200px;
  height: 100%;
  top: 70px;
  z-index: 1000;
}
.sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(225, 225, 225, 0.05);
}
.sidebar ul li a {
  color: #e3a216;
  display: block;
}
.sidebar ul li a span {
  width: 25px;
}
.sidebar ul li:hover {
  background: #594f8d;
}
.sidebar ul li:hover a {
  color: #fff;
}
.wrapper .contents {
  width: 100%;
  margin-left: 245px;
  margin-top: 70px;
}

.contents .info {
  margin: 50px;
  color: #717171;
  line-height: 25px;
}
.wrapper .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}
.wrapper h4 {
  color: #fff;
}
.wrapper > .chart-container {
  position: relative;
  top: 70px;
  left: 200px;
}
.main-content {
  margin-left: 150px;
  padding: 0px 10px;
  margin-top: 6rem;
}
